/* Core Styling */
.listening-light-theme .matching-container {
    background: #f8fafc;
    padding: 20px;
    border-radius: 12px;
    border: 1px solid var(--l-border);
}





.listening-light-theme .map-q-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 450px;
    margin-bottom: 10px;
}

.listening-light-theme .blank-input.small {
    width: 45px;
    text-align: center;
    border-bottom: 2px solid var(--l-primary);
    text-transform: uppercase;
}