/* TABLE STYLES FOR PART 3 */
.listening-light-theme .listening-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 13px;
}

.listening-light-theme .listening-table th {
    background: var(--l-primary-light);
    color: var(--l-primary);
    text-align: left;
    padding: 12px;
    border: 1px solid var(--l-border);
}

.listening-light-theme .listening-table td {
    padding: 15px;
    border: 1px solid var(--l-border);
    vertical-align: middle;
    color: #475569;
}

/* MATCHING OPTIONS GRID */
.listening-light-theme .matching-container {
    padding: 20px;
    background: #f8fafc;
    border-radius: 10px;
    border: 1px solid var(--l-border);
}

.wrap-grid{

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.listening-light-theme .options-grid {
    display: flex;
    flex-direction: column;
    gap: 5px;


    border: 1px solid #475569;
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 25px;
    font-size: 13px;
    font-weight: 600;
    
}


.listening-light-theme .opt-label{
    text-align: left;
    width: 100%;

}

/* INPUT ADJUSTMENTS */
.listening-light-theme .blank-input.small {
    width: 45px;
    text-align: center;
    border-bottom: 2px solid var(--l-primary);
    text-transform: uppercase;
}

.topic-header{
    width: 100%;
    text-align: center;

}

.info-just{
    font-style: normal;
    font-weight: 500;
}

